.tester {
    color: red;
}

.DP_misdirection_icon {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 5px;
}

.DP_misdirection_icon_show {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 9px;
}

.DP_misdirection_div {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: 0px;
    margin-right: 3px;
    padding-top: 0px;
}


/* .DP_misdirection_div img:last-child {
    position: relative;
    top: 0px;
    margin: 0px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    opacity: 0;
    vertical-align: middle;
    transition: all 0.15s ease-in;
    padding-top: 0px;
    border-radius: 5px;
}

.DP_misdirection_div:hover img:last-child {
    opacity: 1;
} */

.DP_text_border {
    display: inline-block;
}

.DP_text_border_misdirection {
    border: none;
    display: inline-block;
}

.DP_text_border_misdirection:hover {
    border-color: #FF8200;
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
    transition: all 0.15s ease-in;
}

.DP_misdirection_div:hover+.DP_text_border_misdirection {
    border-color: #FF8200;
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
    transition: all 0.15s ease-in;
}

.DP_misdirection_div:hover~.DP_text_border>.DP_text_border_misdirection {
    border-color: #FF8200;
    border-width: 5px;
    border-style: dotted;
    border-radius: 10px;
    transition: all 0.15s ease-in;
}

.DP_text_border_fakecountdown {
    display: inline-block;
}

.DP_scarcity_icon {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 5px;
}

.DP_scarcity_icon_show {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 9px;
}

.DP_scarcity_div {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 3px;
}

.DP_scarcity_div img:last-child {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    opacity: 0;
    vertical-align: middle;
    transition: all 0.15s ease-in;
    border-radius: 5px;
}

.DP_scarcity_div:hover img:last-child {
    opacity: 1;
}

.DP_text_border_scarcity:hover {
    border: 3px solid #FF5869;
    transition: all 0.15s ease-in;
}

.DP_scarcity_div:hover+.DP_text_border_scarcity {
    border: 3px solid #FF5869;
    transition: all 0.15s ease-in;
}

.DP_scarcity_div:hover~.DP_text_border>.DP_text_border_scarcity {
    border: 3px solid #FF5869;
    transition: all 0.15s ease-in;
}

.DP_text_border_highdemand {
    display: inline-block;
}

.DP_urgency_icon {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 5px;
}

.DP_urgency_icon_show {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 9px;
}

.DP_urgency_div {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 3px;
}

.DP_urgency_div img:last-child {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    opacity: 0;
    vertical-align: middle;
    transition: all 0.15s ease-in;
    border-radius: 10px;
}

.DP_urgency_div:hover img:last-child {
    opacity: 1;
}

.DP_text_border_urgency {
    border: none;
    display: inline-block;
}

.DP_text_border_urgency:hover {
    border: 3px solid #FEDB00;
    border-radius: 10px;
    transition: all 0.15s ease-in;
}

.DP_urgency_div:hover+.DP_text_border_urgency {
    border: 3px solid #FEDB00;
    border-radius: 10px;
    transition: all 0.15s ease-in;
}

.DP_urgency_div:hover~.DP_text_border>.DP_text_border_urgency {
    border: 3px solid #FEDB00;
    border-radius: 10px;
    transition: all 0.15s ease-in;
}

.DP_text_border_limitedtime {
    display: inline-block;
}

.DP_socialProof_icon {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 10px;
}

.DP_socialProof_icon_show {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 10px;
}

.DP_socialProof_div {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 3px;
}

.DP_socialProof_div img:last-child {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    opacity: 0;
    vertical-align: middle;
    transition: all 0.15s ease-in;
    border-radius: 10px;
}

.DP_socialProof_div:hover img:last-child {
    opacity: 1;
}

.DP_text_border_socialProof {
    border: none;
    display: inline-block;
}

.DP_text_border_socialProof:hover {
    border-color: #69B3E7;
    border-width: 3px;
    border-style: dotted;
    transition: all 0.15s ease-in;
    background-color: #BAE0FB;
}

.DP_socialProof_div:hover+.DP_text_border_socialProof {
    border-color: #69B3E7;
    border-width: 3px;
    border-style: dotted;
    transition: all 0.15s ease-in;
    background-color: #BAE0FB;
}

.DP_socialProof_div:hover .DP_text_border {
    border: none;
}

.DP_socialProof_div:hover~.DP_text_border>.DP_text_border_socialProof {
    border-color: #69B3E7;
    border-width: 3px;
    border-style: dotted;
    transition: all 0.15s ease-in;
    background-color: #BAE0FB;
}

.DP_text_border_lowstock {
    display: inline-block;
}

.DP_forcedActivity_icon {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 10px;
}

.DP_forcedActivity_icon_show {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 10px;
}

.DP_forcedActivity_div {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 3px;
}

.DP_forcedActivity_div img:last-child {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    opacity: 0;
    vertical-align: middle;
    transition: all 0.15s ease-in;
    border-radius: 5px;
}

.DP_forcedActivity_div:hover img:last-child {
    opacity: 1;
}

.DP_text_border_forcedActivity {
    border: none;
    display: inline-block;
}

.DP_text_border_forcedActivity:hover {
    border-color: #FC9BB3;
    border-width: 0 0 5px 0;
    border-style: solid;
    transition: all 0.15s ease-in;
    background-color: #FFD5DF;
}

.DP_forcedActivity_div:hover+.DP_text_border_forcedActivity {
    border-color: #FC9BB3;
    border-width: 0 0 5px 0;
    border-style: solid;
    transition: all 0.15s ease-in;
    background-color: #FFD5DF;
}

.DP_forcedActivity_div:hover~.DP_text_border>.DP_text_border_forcedActivity {
    border-color: #FC9BB3;
    border-width: 0 0 5px 0;
    border-style: solid;
    transition: all 0.15s ease-in;
    background-color: #FFD5DF;
}

.popupContainer {
    color: red;
    width: 317px;
    height: 137px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    z-index: 999999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span.DP_pointer {
    border: solid 10px transparent;
    border-top-color: white;
    position: absolute;
    left: 12px;
    top: 137px;
}

span.DP_pointer_top {
    border: solid 10px transparent;
    border-bottom-color: white;
    position: absolute;
    left: 12px;
    top: -20px;
}

span.DP_pointer_right {
    border: solid 10px transparent;
    border-top-color: white;
    position: absolute;
    left: 68px;
    top: 100px
}

span.DP_pointer_right_top {
    border: solid 10px transparent;
    border-bottom-color: white;
    position: absolute;
    left: 68px;
    top: -10px
}

.DP_PU_Title {
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    margin: 10px 0 15px 14px;
}

.DP_popuptext {
    font-size: 13px;
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
    margin: 0px 12px 17px 14px;
    font-weight: bold;
}

.DP_popupMI {
    float: left;
    font-size: 11px;
    color: #0645AD;
    margin: 0px 0px 3px 12px;
    cursor: pointer;
    display: block;
    /*visibility: visible*/
    ;
}

.DP_popupLI {
    float: left;
    font-size: 11px;
    color: #0645AD;
    margin: 0px 0px 3px 12px;
    cursor: pointer;
    display: none;
    /* visibility: hidden*/
    ;
}

.DP_popupReport {
    float: right;
    font-size: 11px;
    color: #0645AD;
    margin: 0px 12px 3px 0px;
    cursor: pointer;
}

.hiddeninfo {
    display: none;
}

.showninfo {
    display: block;
}