.DP_type_icon {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    border-radius: 5px;
}

.DP_type_div {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: 0px;
    margin-right: 3px;
}

.DP_text_border_fakeActivity {
    display: inline-block;
    border: 5px dotted #FF5869;
}

.DP_text_border_fakeCountdown {
    display: inline-block;
    border: 5px dotted #FF8200;
}

.DP_text_border_fakeHighDemand {
    border: 5px dotted #FEDB00;
    display: inline-block;
}

.DP_text_border_fakeLimitedTime {
    border: 5px dotted #69B3E7;
    display: inline-block;
}

.DP_text_border_fakeLowStock {
    border: 5px dotted #FC9BB3;
    display: inline-block;
}

.DP_text_border_confirmshaming {
    border: 5px dotted #4aff71;
    display: inline-block;
}

.popupContainer {
    color: red;
    width: 317px;
    height: 137px;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    z-index: 999999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span.DP_pointer {
    border: solid 10px transparent;
    border-top-color: white;
    position: absolute;
    left: 12px;
    top: 137px;
}

span.DP_pointer_top {
    border: solid 10px transparent;
    border-bottom-color: white;
    position: absolute;
    left: 12px;
    top: -20px;
}

span.DP_pointer_right {
    border: solid 10px transparent;
    border-top-color: white;
    position: absolute;
    left: 68px;
    top: 100px
}

span.DP_pointer_right_top {
    border: solid 10px transparent;
    border-bottom-color: white;
    position: absolute;
    left: 68px;
    top: -10px
}

.DP_PU_Title {
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    margin: 10px 0 15px 14px;
}

.DP_popuptext {
    font-size: 13px;
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
    margin: 0px 12px 17px 14px;
    font-weight: bold;
}

.DP_popupMI {
    float: left;
    font-size: 11px;
    color: #0645AD;
    margin: 0px 0px 3px 12px;
    cursor: pointer;
    display: block;
    /*visibility: visible*/
    ;
}

.DP_popupLI {
    float: left;
    font-size: 11px;
    color: #0645AD;
    margin: 0px 0px 3px 12px;
    cursor: pointer;
    display: none;
    /* visibility: hidden*/
    ;
}

.DP_popupReport {
    float: right;
    font-size: 11px;
    color: #0645AD;
    margin: 0px 12px 3px 0px;
    cursor: pointer;
}

.hiddeninfo {
    display: none;
}

.showninfo {
    display: block;
}