html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*css rest up until this line*/

.sidewindow {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 344px;
    height: 631px;
    background: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 99999999999;
    border: 2px black;
    
}

.close_all {
    position: fixed;
    height: 9px;
    top: 24px;
    right: 312px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13px;
    color: #CBCFD7;
    font-weight: 400;
}

.minimizeIcon {
    position: fixed;
    top: 24px;
    right: 100px;
    width: 14px;
    height: 7px;
    color: #71798C;
    cursor: pointer;
}

.close_text {
    position: fixed;
    top: 24px;
    right: 17px;
    font-size: 10px;
}

.infoWrapper {
    position: fixed;
    top: 48px;
    right: 0px;
    width: 344px;
    height: 356px;
    background: #F4F5F7;
    box-shadow: 0px 0px 10px -5px rgba(184, 185, 187, 1);
    display: block;
}

.website_name {
    position: fixed;
    top: 58px;
    color: #35363A;
    font-weight: 700;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 25px;
}

.hidden_options {
    position: fixed;
    top: 435px;
    right: 330px;
    width: 200px;
    height: 300px;
    background: #FFFFFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: 1px solid;
    display: none;
    z-index: 999999999;
}

.hidden_options:hover {
    display: block;
}

.menu_item1:hover+.hidden_options {
    display: block;
}

.menu_item1 {
    position: fixed;
    top: 435px;
    right: 17px;
    width: 314px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

.menu_item1 a {
    display: block;
    padding: 12px 71.825px 15px 24px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menu_item2 {
    position: fixed;
    top: 478px;
    right: 17px;
    width: 314px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

.menu_item2 a {
    display: block;
    padding: 12px 232.538px 15px 24px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menu_item3 {
    position: fixed;
    top: 521px;
    right: 17px;
    width: 314px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

.menu_item3 a {
    display: block;
    padding: 12px 156.363px 15px 24px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menu_item4 {
    position: fixed;
    top: 564px;
    right: 17px;
    width: 314px;
    font-size: 16px;
}

.menu_item4 a {
    display: block;
    padding: 12px 141.925px 15px 24px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#menu_items a {
    color: #35363A;
    text-decoration: none;
    font-weight: normal;
}

#menu_items:hover {
    background: #F4F5F7;
    border-radius: 7px;
}

.doughnut {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border-top: 44px solid #A9DC62;
    border-left: 44px solid #78DCDC;
    border-right: 44px solid #FFD862;
    border-bottom: 44px solid red;
    text-align: center;
    box-sizing: border-box;
}

.count {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: Helvetica;
    color: #545558;
    font-weight: 400;
}

.scroll {
    position: absolute;
    top: 50%;
    left: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}