.barcontainer1 {
    position: fixed;
    top: 20px;
    right: 50px;
    background: grey;
    width: 315px;
    border-radius: 25px;
    padding: 6px;
    padding-top: 10px;
    border: 2px solid whitesmoke;
    background: linear-gradient(to bottom, #F4F5F7 0%, #ffffff 100%);
    box-sizing: content-box;
    z-index: 999999999;
}

.bar1 {
    display: grid;
    grid-template-columns: 45px 45px 45px 45px 45px 45px;
    grid-template-rows: 40px;
    grid-column-gap: 5px;
    justify-items: center;
    border-radius: 20px;
    z-index: 9999999999999;
    box-sizing: border-box;
}

.pic2p {
    position: fixed;
    margin-top: -7px;
    z-index: 99999999999999999;
    box-sizing: border-box;
    border: none;
}

.pic3p {
    position: fixed;
    margin-top: 6px;
    z-index: 99999999999999999;
    box-sizing: border-box;
    border: none;
}

.pic4p {
    position: fixed;
    margin-top: 5px;
    z-index: 9999999999999999;
    box-sizing: border-box;
    border: none;
}

.pic5p {
    position: fixed;
    margin-top: 4px;
    z-index: 9999999999999999;
    box-sizing: border-box;
}

.pic6p {
    position: fixed;
    z-index: 9999999999999999;
    box-sizing: border-box;
}