.toast_popup {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 300px;
    font-size: 20px;
    padding: 6px;
    color: black;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, top 1s, visibility 1s;
    z-index: 999999999;
}

.toast--visible {
    visibility: visible;
    top: 50px;
    opacity: 1;
    transition: opacity 0.5s, top 0.5s, visibility 0.5s;
}

.patterns_not_found {
    background-color: green;
}

.patterns_found {
    background-color: yellow;
}