.toast_popup {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: 15%;
    max-width: 300px;
    font-size: 20px;
    padding: 6px;
    color: black;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 999999999;
}

.patterns_not_found {
    background-color: green;
}

.patterns_found {
    background-color: yellow;
}

.typelist {
    text-align: left;
}

.toastwrapper {
    text-align: left;
    font-size: 15px;
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
    color: #211D2E;
    font-weight: 600;
}