body {
    width: 250px;
    height: 450px;
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
}

.website_name {
    font-size: 16px;
    margin: 10px 0px 10px 10px;
    color: #211D2E;
    font-weight: 700;
}

.detect_button {
    width: 230px;
    height: 27px;
    background: #FEDB00;
    border: 0px solid #080808;
    border-radius: 2.88px;
    font-size: 14px;
    color: #211D2E;
    font-weight: 700;
    margin: 0px 10px 15px 10px;
    cursor: pointer;
}

.button_wrapper {
    text-align: center;
}

.nav_ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 92%;
    margin: 5px 10px 0px 10px;
    padding: 0;
}

.nav_list {
    font-family: 'HiraginoSans-W5', sans-serif;
    display: block;
    flex: 0 1 auto;
    width: 47px;
    list-style-type: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 500;
    color: #5B5D6A;
    ;
}

.nav_list_active {
    background-color: #F1F1F1;
    color: #080808;
    font-weight: 600;
}

.content_wrapper {
    width: auto;
    height: 330px;
    margin: 0px 10px 0px 10px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border_div {
    width: 218px;
    height: 318px;
    border: 0.72px solid #656565;
    border-radius: 2.88px;
}

.results_container {
    display: block;
}

.reports_container {
    display: none;
}

.settings_container {
    display: none;
}

.bottom_link {
    float: right;
    margin: 10px 10px 0px 0px;
    font-size: 10px;
    color: #363636;
    font-weight: 600;
    cursor: pointer;
}

.info_container {
    display: none;
}

.doughnut_wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.totaltext {
    font-family: 'HiraginoSans-W5', sans-serif;
    color: #211D2E;
    font-weight: 700;
    margin: 0 10px 0 10px;
    border-bottom: 2px solid #211D2E;
    padding-bottom: 3px;
}

.numdetected {
    float: right;
}