.settingtitle {
    width: 133px;
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
    font-size: 15px;
    color: #211D2E;
    font-weight: 700;
    margin: 15px 0 5px 15px;
}

.autoscanborder {
    margin: 0 15px 0 15px;
    border: 1px solid black;
    height: 75px;
    width: auto;
    border-radius: 3px;
}

.explanationText {
    font-size: 10px;
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
    color: #211D2E;
    font-weight: 400;
    margin: 3px 5px 10px 5px;
}

.autoswitchwrapper {
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
}

.onOfftext {
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
    font-size: 13px;
    margin: 0 10px 0 10px;
    font-weight: 600;
}

.filterborder {
    margin: 0 15px 10px 15px;
    border: 1px solid black;
    height: 150px;
    width: auto;
    border-radius: 3px;
}

.typetext {
    float: left;
    font-size: 9px;
    font-family: 'Hiragino Sans GB SemiBold', sans-serif;
    font-weight: 600;
}

.switchposition {
    float: right;
    margin: 5px 10px 0 0;
}

.typewrappers {
    margin: 5px 40px 0px 40px;
    width: 100%;
    padding: 0 10px 0 10px;
}